http:
  routers:
    # --- Sites ---
    front-office:
      rule: "PathPrefix(`/`)"
      service: front-office
      # Pas de strip prefix pour le front

    back-office:
      rule: "Host(`admin.localhost`) || Host(`admin.192.168.1.42.nip.io`)"
      service: back-office

    # --- Microservices ---
    profiling:
      rule: "PathPrefix(`/api/profiling`)"
      service: profiling
      middlewares: [profiling-strip]

    cataloging:
      rule: "PathPrefix(`/api/cataloging`)"
      service: cataloging
      middlewares: [cataloging-strip]

    ordering:
      rule: "PathPrefix(`/api/ordering`)"
      service: ordering
      middlewares: [ordering-strip]

    paying:
      rule: "PathPrefix(`/api/paying`)"
      service: paying
      middlewares: [paying-strip]

    shipping:
      rule: "PathPrefix(`/api/shipping`)"
      service: shipping
      middlewares: [shipping-strip]

  middlewares:
    profiling-strip:
      stripPrefix: { prefixes: ["/api/profiling"] }
    cataloging-strip:
      stripPrefix: { prefixes: ["/api/cataloging"] }
    ordering-strip:
      stripPrefix: { prefixes: ["/api/ordering"] }
    paying-strip:
      stripPrefix: { prefixes: ["/api/paying"] }
    shipping-strip:
      stripPrefix: { prefixes: ["/api/shipping"] }

  services:
    # --- Definitions vers 192.168.1.42 ---
    front-office:
      loadBalancer:
        servers:
          - url: "http://192.168.1.42:9000"
    
    back-office:
      loadBalancer:
        servers:
          - url: "http://192.168.1.42:9010"

    profiling:
      loadBalancer:
        servers:
          - url: "http://192.168.1.42:9001"

    cataloging:
      loadBalancer:
        servers:
          - url: "http://192.168.1.42:9002"

    ordering:
      loadBalancer:
        servers:
          - url: "http://192.168.1.42:9003"

    paying:
      loadBalancer:
        servers:
          - url: "http://192.168.1.42:9004"

    shipping:
      loadBalancer:
        servers:
          - url: "http://192.168.1.42:9005"
